@import '../../utilsScss/colors';
@import '../../utilsScss/mixins';

.container {
  background-color: $gray-black;
  min-height: 100vh;
}

.cart {
  grid-template-rows: min-content;
  align-content: start;
  max-width: 1136px;
  padding: 0 16px;
  margin: auto;

  @include onTablet {
    padding: 0 24px;
  }

  @include onDesktop {
    padding: 0 32px;
  }

  &__list {
    display: grid;
    row-gap: 16px;
  }

  &__h1 {
    font-family: 'Mont', sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;

    color: $gray-white;
    text-align: left;

    margin-top: 24px;
    margin-bottom: 32px;

    @include onTablet {
      font-size: 48px;
      line-height: 56px;

      margin-top: 16px;
    }
  }

  &__link--back {
    display: inline-flex;
    align-items: center;
    height: min-content;

    font-weight: 700;
    line-height: 15px;
    color: $gray-white;
    text-transform: none;
    margin-top: 40px;

    transition: color 0.5s ease-in-out;

    &:hover {
      color: $accent-color;
    }

    &::before {
      content: '';
      display: inline-block;
      width: 5.33px;
      height: 9.33px;
      background: url(../../images/arrow-back.svg) no-repeat center;
      margin-right: 9.33px;

      transition: all 0.5s ease-in;
    }

    &:hover::before {
      background: url(../../images/arrow-back-hover.svg) no-repeat center;
    }
  }
}
