@import '../../utilsScss/colors';
@import '../../utilsScss/mixins';

.cart-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;

  background-color: $gray-surface1;
  border-radius: 10px;

  color: $gray-white;
  padding: 16px;

  &:last-child {
    margin-bottom: 20px;
  }

  @include onTablet {
    flex-direction: row;
    padding: 24px;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 23px;
    width: 100%;

    @include onTablet {
      width: 65%;
      gap: 31px;
    }
  }

  &__button-close {
    background-image: url(../../images/menu-close-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 15px;
    width: 17px;
    padding: 0;
    box-shadow: 0 0 0;
    cursor: pointer;
  }

  &__discription {
    display: flex;
    align-items: center;
    gap: 23px;

    @include onTablet {
      gap: 31px;
    }
  }

  &__image {
    width: 66px;
    height: 66px;
  }

  &__name {
    font-family: 'Mont';
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
  }

  &__price-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include onTablet {
      width: 35%;
    }
  }

  &__icons-block {
    display: flex;
    align-items: center;
    font-family: 'Mont', sans-serif;
    font-size: 14px;
    line-height: 21px;
  }

  &__counter {
    display: flex;
    justify-content: center;
    width: 32px;
  }

  &__total-price {
    font-family: 'Mont', sans-serif;
    font-weight: 800;
    font-size: 22px;
    line-height: 31px;
  }
}

.icon {
  &__cart-item {
    margin: 0;
    height: 32px;
    width: 27px;
    border: 1px solid $gray-surface2;

    &--plus {
      background: url('../../images/plus.svg') no-repeat center;
    }

    &--plus:hover,
    &--plus:focus {
      background: $gray-surface2 url('../../images/plus.svg') no-repeat center;
    }

    &--minus {
      background: url('../../images/minus.svg') no-repeat center;
    }

    &--minus:hover {
      background: $gray-surface2 url('../../images/minus.svg') no-repeat center;
    }
  }
}

.card__img--cart {
  width: 51px;
  height: 66px;
  margin: 0;
}
