@import '../../../utilsScss/colors.scss';
@import '../../../utilsScss/mixins';

.phones-page__buttons {
  padding-bottom: 64px;
}

.buttons {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__button {
    font-family: 'Mont', sans-serif;
    font-weight: 600px;
    font-size: 14px;
    line-height: 21px;
    border: 0px;
    margin-right: 8px;
    height: 32px;
    width: 32px;
    background-color: $gray-surface1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &--arrow {
      background-color: $gray-surface2;
      border: solid 1px $gray-elements;

      &:disabled {
        background-color: $gray-black;
      }

      &:disabled .icon-arrow {
        background-image: url('../../../images/Vector_gray_right.svg');
      }
    }

    &:not(:first-child):not(:last-child) {
      display: none;

      @include onTablet {
        display: block;
      }
    }

    &:first-child,
    &:last-child {
      display: inline-block;
    }

    &:hover {
      background-color: $gray-elements;
    }

    &--active {
      display: inline-block;
      background-color: $accent-color;
    }
  }

  &__text {
    color: $gray-white;
  }

  &__ellipsis {
    width: 30px;
    display: none;

    @include onTablet {
      display: block;
    }

    &--dot {
      display: inline-block;
      width: 3px;
      height: 3px;
      background-color: $accent-color;
      border-radius: 50%;
      margin-right: 5px;
    }
  }
}
