$gray-black: #0F1121;
$gray-surface1: #161827;
$gray-surface2: #323542;
$gray-elements: #3B3E4A;
$icons-color: #4A4D58;
$secondary-color:#75767F;
$gray-white: #F1F2F9;

$accent-color: #905BFF;
$accent-hover: #A378FF;

$green-color: #27AE60;
$red-color: #EB5757;

$default-color: #FCDBC1;
$hover-color: #FCDBC1;
$selected-color: #FCDBC1;
