$gray-black: #0f1121;
$gray-surface1: #161827;
$gray-surface2: #323542;
$gray-elements: #3b3e4a;
$icons-color: #4a4d58;
$secondary-color: #75767f;
$gray-white: #f1f2f9;

$accent-color: #905bff;
$accent-hover: #a378ff;

$green-color: #27ae60;
$red-color: #eb5757;

$default-color: #fcdbc1;
$hover-color: #fcdbc1;
$selected-color: #fcdbc1;
