@import '../../utilsScss/colors.scss';
@import '../../utilsScss/mixins.scss';

.not-found {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $gray-surface1;
  color: $accent-hover;

  &__title {
    font-size: 130px;
    @include onTablet {
      font-size: 120px;
    }

    @include onDesktop {
      font-size: 180px;
    }
  }

  &__subtitle {
    font-size: 40px;
    @include onTablet {
      font-size: 30px;
    }

    @include onDesktop {
      font-size: 40px;
    }
  }

  &__subsubtitle {
    font-size: 20px;
    @include onTablet {
      font-size: 10px;
    }

    @include onDesktop {
      font-size: 20px;
    }
  }
  .snake-container {
    margin-top: 25px;
  }
}
