@import './reset.scss';
@import './utilsScss/colors.scss';
@import './utilsScss/mixins.scss';
@import './grid.scss';
@import './components/ProductCard/ProductCard.scss';
@import './components/Cart/Cart.scss';
// @import './components/PhonesPage/PhonesPage.scss';

@font-face {
  font-family: 'Mont';
  src: url('./fonts/Mont-SemiBold.eot');
  src: local('./fonts/Mont SemiBold'), local('Mont-SemiBold'),
    url('./fonts/Mont-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Mont-SemiBold.woff2') format('woff2'),
    url('./fonts/Mont-SemiBold.woff') format('woff'),
    url('./fonts/Mont-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.App {
  min-height: 90vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
