@import '../../utilsScss/mixins.scss';
@import '../../utilsScss/colors.scss';

.Rights {
  background-color: #0f1121;
  &__history {
    display: grid;
    grid-column: 1 / 4;
    padding: 26px 0 24px;

    @include onTablet {
      padding: 26px 0 40px;
    }
    @include onDesktop {
      padding: 26px 0 40px;
    }
  }

  &__title {
    font-family: 'Mont';
    font-weight: 800;
    text-align: left;
    font-size: 32px;
    line-height: 140%;

    color: #f1f2f9;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: $gray-elements;
      margin-top: 24px;
    }

    @include onDesktop {
      width: 50%;
    }
  }

  &__subtitle {
    margin-top: 20px;
    margin-bottom: 16px;

    font-family: 'Mont';
    font-weight: 700;
    text-align: left;
    font-size: 20px;
    line-height: 26px;

    color: #f1f2f9;
  }

  &__text {
    padding-bottom: 16px;

    font-family: 'MontRegular';
    font-weight: 600;
    text-align: left;
    font-size: 14px;
    line-height: 21px;

    color: #75767f;
  }
}
