@import '../../utilsScss/colors';
@import '../../utilsScss/mixins';

.home-page {
  background-color: $gray-black;
  min-height: 100vh;
  &__container {
    margin: 0 auto;
    max-width: 1300px;
    background-color: $gray-black;
  }
}

.page {
  &__section {
    &--1 {
      margin-bottom: 56px;
      @include onTablet {
        padding: 0 24px 0;
        margin-bottom: 64px;
      }

      @include onDesktop {
        padding: 0 32px 32px;
        margin-bottom: 80px;
      }
    }

    &--2 {
      padding: 0 16px 57px;
      @include onTablet {
        padding: 0 24px 64px;
      }

      @include onDesktop {
        padding: 0 32px 80px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.welcome {
  &__title {
    box-sizing: border-box;
    text-align: left;
    display: inline-block;
    font-family: 'Mont', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    margin: 24px 16px;
    color: $gray-white;
    background-color: $gray-black;
    text-align: left;

    @include onDesktop {
      font-size: 48px;
      line-height: 56px;
      margin-top: 56px;
      margin-bottom: 56px;
    }
    @include onTablet {
      font-size: 48px;
      line-height: 56px;
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }
}
